.main_visual{
      background-color: #C19889;
      height: 1080px;
      position: relative;
	z-index: -11;
	width: 100vw;
}

.main_txt{
      width: 1440px;
      position: relative;
      top:360px;
      left: 250px;
      z-index: 1;
}
h3 {
      color:#482D23;
      font-size: 70px;
      font-weight: 400;
      margin-top:40px
}
h3 span{font-weight: 700;}

h4 {
      color:#482D23;
      font-size: 60px;
      font-weight: 400;
      margin-top:40px
}
h4 span{font-weight: 700; color:#C19889;}
.small_tit{
      color:#fff;
      font-size: 40px;
}

.small_txt{
      color:#C19889;
      font-size: 40px;
}


.background_img1{
      width: 963px;
      height: 958px;
      position: absolute;
      bottom: 0;
      right: -40px;
      z-index: -10;
      opacity: .2;
	background-image: url('../img/about_back.png');
	background-size: cover;
}


.section3{
	position: relative;
	height: 6500px;
}

.design_concept{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 360px;
}

.design_tit{font-size: 45px; font-weight: 700; margin-bottom: 30px;}

.small_info {color:#8B8B8B; font-size: 25px; line-height: 45px; font-family: 'Nanum Gothic', sans-serif;}

.concept_wrap{height: 575px;}
.concept_circle{
	width: 440px;
	height: 440px;
	background-color: #c19889d7;
	color: #fff;
	float:left;
	border-radius: 50%;
	margin-right: 20px;
	text-align: center;
	margin-top: 135px;
}

.concept_circle h5 {
	margin: 135px 0 30px 0;
	font-size: 45px;
	font-weight: 700;
}

.concept_circle p {
	font-size: 18px;
	line-height: 40px;
	font-family: 'Nanum Gothic', sans-serif;
}


.design_color{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 460px;
}

.color_wrap1{
	margin-top: 170px;
	height: 370px;
}
.color_circle1{
	width: 370px;
	height: 370px;
	background-color: #B68774;
	color: #fff;
	margin-right: 20px;
	border-radius: 50%;
	float:left;
	cursor: pointer;
}
.color_circle2{
	width: 370px;
	height: 370px;
	background-color:#C09788;
	color: #fff;
	border-radius: 50%;
	float:left;
	cursor: pointer;
}

.color_wrap2{
	margin-top: 65px;
	height: 370px;
}
.color_circle3{
	width: 370px;
	height: 370px;
	background-color:#fff;
	color: #C9C9C9;
	border-radius: 50%;
	float: right;
	border:1px solid #c9c9c9;
	cursor: pointer;
}
.color_circle4{
	width: 370px;
	height: 370px;
	background-color:#E3E3E3;
	color: #fff;
	margin-right: 20px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
}

.color_circle1 p, .color_circle2 p, .color_circle3 p, .color_circle4 p{
	font-family: 'Nanum Gothic', sans-serif; font-weight: 900; font-size: 50px; text-align: center;
	margin-top: 150px;
}

.main_color{width: 330px; font-size: 64px; float: left; margin-left: 200px; margin-top: 130px; opacity: 0;}
.sub_color{width: 330px;font-size: 64px; margin-right: 200px; float: right;margin-top: 130px; opacity: 0;}

.design_logo{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 420px;
}

.logo_img{
	margin-top: 150px;
}

.design_typo{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 420px;
}

@font-face {
	src : url("../fonts/AppleSDGothicNeoL.ttf");
      font-family: "sd_L";
}
@font-face {
	src : url("../fonts/AppleSDGothicNeoR.ttf");
      font-family: "sd_R";
}
@font-face {
      src : url("../fonts/AppleSDGothicNeoB.ttf");
	font-family: "sd_B";
}
.typo_wrap{margin-top: 150px; height: 430px;}
.sd, .nanum{float: left; color:#c19889;}
.sd{margin-right: 80px;}
.sd h5{font-family: 'sd_R'; font-size: 43px;}
.sd p {font-size: 35px;}
.sd1{
	font-family: 'sd_L';
}
.sd2{
	font-family: 'sd_R';
}
.sd3{
	font-family: 'sd_B';
}

.nanum h5{font-family: 'Nanum Myeongjo', serif; font-size: 43px;}
.nanum p {font-size: 35px; font-family: 'Nanum Myeongjo', serif;}
.nanum1{font-weight: lighter;}
.nanum2{font-weight: normal;}
.nanum3{font-weight: bold;}

.design_icon{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 250px;
}

.img_object{
	position: absolute;
	right: 0;
	opacity: .2;
}

.img_object2{
	position: absolute;
	left: 0;
	opacity: .2;
}
.img_object2 img{
	transform: rotate(70deg);
}

.img_object3{
	position: absolute;
	right: 0;
	bottom:0;
	opacity: .2;
}

   
@media all and (min-width:1024px) and (max-width:1444px) {
	/*스타일입력*/
	html{width: 100vw; overflow-x: hidden;}
	body{width: 100vw; }
	.main_visual{width: 100vw; height: 100vh;}
	.main_txt{width: 90%; top:30%; left:10%}
	.small_tit{font-size: 2rem;}
	h3{font-size: 2.6rem;}
	.background_img1{width: 100%; height:100%; right: 0;}
	.design_concept{width: 90%; left:5%}
	.design_tit{font-size: 2.5rem;}
	.small_info{font-size: 1.3rem; line-height: 1.5rem;}
	.concept_wrap{height: 200px;}
	.concept_circle{width:270px;height: 270px; margin-right: 3%;margin-top: 50px;}
	.concept_circle h5{font-size:1.5rem; margin:0; margin-top: 120px;}
	.concept_circle p{display: none;}
	.img_object{width: 30%; margin-top: 80px;}
	.img_object img{width: 100%;}
	.img_object2{width: 30%;}
	.img_object2 img{width: 100%;}
	.img_object3{width: 40%;}
	.img_object3 img{width: 100%;}
	.design_color{width: 90%; left:5%; margin-top: 550px;}
	.color_wrap1{margin-top: 80px; height: 30%;}
	.color_circle1,.color_circle2,.color_circle3,.color_circle4{width: 300px; height: 300px;}
	.color_circle1 p,.color_circle2 p,.color_circle3 p,.color_circle4 p{font-size: 1.5rem; margin-top: 43%;}
	.main_color, .sub_color {display: none;}
	.design_logo{width: 90%; left:5%; margin-top: 80px;}
	.logo_img{margin-top: 50px;}
	.logo_img img{width: 80%; margin-left: 10%;}
	.design_typo{width: 90%; left:5%}
	.typo_wrap{margin-top: 80px; height: 30%;}
	.sd, .nanum {float: none;}
	.sd {margin-right:0; margin-bottom: 50px;}
	.nanum {float: right;}
	.sd h5, .nanum h5 {font-size: 2.5rem;}
	.sd1, .sd2, .sd3, .nanum1, .nanum2, .nanum3, .sd p, .nanum p{font-size: 1.8rem;}
	.design_icon{width: 90%; left:5%; margin-top: 380px;}
	.design_icon img{width: 100%;}
	.section3{height: 5300px;}
     }
   /* 테블릿 세로 (해상도 768px ~ 1023px)*/
   @media all and (min-width:768px) and (max-width:1023px) {
	/*스타일입력*/
	html{width: 100vw; overflow-x: hidden;}
	body{width: 100vw; }
	.main_visual{width: 100vw; height: 100vh;}
	.main_txt{width: 90%; top:30%; left:10%}
	.small_tit{font-size: 2rem;}
	h3{font-size: 2.6rem;}
	.background_img1{width: 100%; height:100%; right: 0;}
	.design_concept{width: 90%; left:5%}
	.design_tit{font-size: 2.5rem;}
	.small_info{font-size: 1.3rem; line-height: 1.5rem;}
	.concept_wrap{height: 200px;}
	.concept_circle{width:270px;height: 270px; margin-right: 3%;margin-top: 50px;}
	.concept_circle h5{font-size:1.5rem; margin:0; margin-top: 120px;}
	.concept_circle p{display: none;}
	.img_object{width: 40%; margin-top: 80px;}
	.img_object img{width: 100%;}
	.img_object2{width: 30%;}
	.img_object2 img{width: 100%;}
	.img_object3{width: 40%;}
	.img_object3 img{width: 100%;}
	.design_color{width: 90%; left:5%; margin-top: 550px;}
	.color_wrap1{margin-top: 80px; height: 30%;}
	.color_circle1,.color_circle2,.color_circle3,.color_circle4{width: 300px; height: 300px;}
	.color_circle1 p,.color_circle2 p,.color_circle3 p,.color_circle4 p{font-size: 1.5rem; margin-top: 43%;}
	.main_color, .sub_color {display: none;}
	.design_logo{width: 90%; left:5%; margin-top: 80px;}
	.logo_img{margin-top: 50px;}
	.logo_img img{width: 80%; margin-left: 10%;}
	.design_typo{width: 90%; left:5%}
	.typo_wrap{margin-top: 80px; height: 30%;}
	.sd, .nanum {float: none;}
	.sd {margin-right:0; margin-bottom: 50px;}
	.nanum {float: right;}
	.sd h5, .nanum h5 {font-size: 2.5rem;}
	.sd1, .sd2, .sd3, .nanum1, .nanum2, .nanum3, .sd p, .nanum p{font-size: 1.8rem;}
	.design_icon{width: 90%; left:5%; margin-top: 380px;}
	.design_icon img{width: 100%;}
	.section3{height: 5300px;}
     }
   
   /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
   @media all and (min-width:480px) and (max-width:767px) {
	/*스타일입력*/
	html{width: 100vw; overflow-x: hidden;}
	body{width: 100vw; }
	.main_visual{width: 100vw; height: 100vh;}
	.main_txt{width: 90%; top:30%; left:10%}
	.small_tit{font-size: 2rem;}
	h3{font-size: 2.6rem;}
	.background_img1{width: 100%; height:100%; right: 0;}
	.design_concept{width: 90%; left:5%}
	.design_tit{font-size: 2rem;}
	.small_info{font-size: 1rem; line-height: 1.5rem;}
	.concept_wrap{height: 200px;}
	.concept_circle{width:200px;height: 200px; margin-right: 3%;margin-top: 50px;}
	.concept_circle h5{font-size:1.5rem; margin:0; margin-top: 80px;}
	.concept_circle p{display: none;}
	.img_object{width: 40%;}
	.img_object img{width: 100%;}
	.img_object2{width: 30%;}
	.img_object2 img{width: 100%;}
	.img_object3{width: 40%;}
	.img_object3 img{width: 100%;}
	.design_color{width: 90%; left:5%}
	.color_wrap1{margin-top: 80px; height: 30%;}
	.color_circle1,.color_circle2,.color_circle3,.color_circle4{width: 250px; height: 250px;}
	.color_circle1 p,.color_circle2 p,.color_circle3 p,.color_circle4 p{font-size: 1.5rem; margin-top: 43%;}
	.main_color, .sub_color {display: none;}
	.design_logo{width: 90%; left:5%; margin-top: 80px;}
	.logo_img{margin-top: 50px;}
	.logo_img img{width: 80%; margin-left: 5%;}
	.design_typo{width: 90%; left:5%}
	.typo_wrap{margin-top: 50px; height: 30%;}
	.sd, .nanum {float: none;}
	.sd {margin-right:0; margin-bottom: 30px;}
	.sd h5, .nanum h5 {font-size: 2rem;}
	.sd1, .sd2, .sd3, .nanum1, .nanum2, .nanum3, .sd p, .nanum p{font-size: 1.5rem;}
	.design_icon{width: 90%; left:5%}
	.design_icon img{width: 100%;}
	.section3{height: 4500px;}
     }
   
   /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
   @media all and (max-width:479px) { 
     /*스타일입력*/
	 html{width: 100vw; overflow-x: hidden;}
	 body{width: 100vw; }
	 .main_visual{width: 100vw; height: 100vh;}
	 .main_txt{width: 90%; top:30%; left:10%}
	 .small_tit{font-size: 2rem;}
	 h3{font-size: 2.6rem;}
	 .background_img1{width: 100%; height:100%; right: 0;}
	 .design_concept{width: 90%; left:5%}
	 .design_tit{font-size: 2rem;}
	 .small_info{font-size: 1rem; line-height: 1.5rem;}
	 .concept_wrap{height: 200px;}
	 .concept_circle{width:100px;height: 100px; margin-right: 3%;margin-top: 50px;}
	 .concept_circle h5{font-size:1.5rem; margin:0; margin-top: 30px;}
	 .concept_circle p{display: none;}
	 .img_object{width: 50%;}
	 .img_object img{width: 100%;}
	 .img_object2{width: 50%;}
	 .img_object2 img{width: 100%;}
	 .img_object3{width: 50%;}
	 .img_object3 img{width: 100%;}
	 .design_color{width: 90%; left:5%}
	 .color_wrap1{margin-top: 80px; height: 30%;}
	 .color_circle1,.color_circle2,.color_circle3,.color_circle4{width: 140px; height: 140px;}
	 .color_circle1 p,.color_circle2 p,.color_circle3 p,.color_circle4 p{font-size: 1.5rem; margin-top: 33%;}
	 .main_color, .sub_color {display: none;}
	 .design_logo{width: 90%; left:5%; margin-top: 80px;}
	 .logo_img{margin-top: 50px;}
	 .logo_img img{width: 100%;}
	 .design_typo{width: 90%; left:5%}
	 .typo_wrap{margin-top: 50px; height: 30%;}
	 .sd, .nanum {float: none;}
	 .sd {margin-right:0; margin-bottom: 30px;}
	 .sd h5, .nanum h5 {font-size: 1.6rem;}
	 .sd1, .sd2, .sd3, .nanum1, .nanum2, .nanum3, .sd p, .nanum p{font-size: 1.3rem;}
	 .design_icon{width: 90%; left:5%}
	 .design_icon img{width: 100%;}
	 .section3{height: 4000px;}
   }