.main_visual{
      background-color: #C19889;
      height: 1080px;
      position: relative;
      z-index: -11;
}

.main_txt{
      width: 1440px;
      position: relative;
      top:360px;
      left: 250px;
      z-index: 1;
}
h3 {
      color:#482D23;
      font-size: 70px;
      font-weight: 400;
      margin-top:40px
}
h3 span{font-weight: 700;}

h4 {
      color:#482D23;
      font-size: 60px;
      font-weight: 400;
      margin-top:40px
}
h4 span{font-weight: 700; color:#C19889;}
.small_tit{
      color:#fff;
      font-size: 40px;
}

.small_txt{
      color:#C19889;
      font-size: 40px;
}


.background_img1{
      width: 963px;
      height: 958px;
      position: absolute;
      bottom: 0;
      right: -40px;
      z-index: -10;
      opacity: .2;
      background-image: url('../img/about_back.png');
}


.section3{
	position: relative;
	height: 6500px;
}

.design_concept{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 360px;
}

.design_tit{font-size: 45px; font-weight: 700; margin-bottom: 30px;}

.small_info {color:#8B8B8B; font-size: 25px; line-height: 45px; font-family: 'Nanum Gothic', sans-serif;}

.concept_wrap{height: 575px;}
.concept_circle{
	width: 440px;
	height: 440px;
	background-color: #c19889d7;
	color: #fff;
	float:left;
	border-radius: 50%;
	margin-right: 20px;
	text-align: center;
	margin-top: 135px;
}

.concept_circle h5 {
	margin: 135px 0 30px 0;
	font-size: 45px;
	font-weight: 700;
}

.concept_circle p {
	font-size: 18px;
	line-height: 40px;
	font-family: 'Nanum Gothic', sans-serif;
}


.design_color{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 460px;
}

.color_wrap1{
	margin-top: 170px;
	height: 370px;
}
.color_circle1{
	width: 370px;
	height: 370px;
	background-color: #B68774;
	color: #fff;
	margin-right: 20px;
	border-radius: 50%;
	float:left;
	cursor: pointer;
}
.color_circle2{
	width: 370px;
	height: 370px;
	background-color:#C09788;
	color: #fff;
	border-radius: 50%;
	float:left;
	cursor: pointer;
}

.color_wrap2{
	margin-top: 65px;
	height: 370px;
}
.color_circle3{
	width: 370px;
	height: 370px;
	background-color:#fff;
	color: #C9C9C9;
	border-radius: 50%;
	float: right;
	border:1px solid #c9c9c9;
	cursor: pointer;
}
.color_circle4{
	width: 370px;
	height: 370px;
	background-color:#E3E3E3;
	color: #fff;
	margin-right: 20px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
}

.color_circle1 p, .color_circle2 p, .color_circle3 p, .color_circle4 p{
	font-family: 'Nanum Gothic', sans-serif; font-weight: 900; font-size: 50px; text-align: center;
	margin-top: 150px;
}

.main_color{width: 330px; font-size: 64px; float: left; margin-left: 200px; margin-top: 130px; opacity: 0;}
.sub_color{width: 330px;font-size: 64px; margin-right: 200px; float: right;margin-top: 130px; opacity: 0;}

.design_logo{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 420px;
}

.logo_img{
	margin-top: 150px;
}

.design_typo{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 420px;
}

@font-face {
	src : url("../fonts/AppleSDGothicNeoL.ttf");
      font-family: "sd_L";
}
@font-face {
	src : url("../fonts/AppleSDGothicNeoR.ttf");
      font-family: "sd_R";
}
@font-face {
      src : url("../fonts/AppleSDGothicNeoB.ttf");
	font-family: "sd_B";
}
.typo_wrap{margin-top: 150px; height: 430px;}
.sd, .nanum{float: left; color:#c19889;}
.sd{margin-right: 80px;}
.sd h5{font-family: 'sd_R'; font-size: 43px;}
.sd p {font-size: 35px;}
.sd1{
	font-family: 'sd_L';
}
.sd2{
	font-family: 'sd_R';
}
.sd3{
	font-family: 'sd_B';
}

.nanum h5{font-family: 'Nanum Myeongjo', serif; font-size: 43px;}
.nanum p {font-size: 35px; font-family: 'Nanum Myeongjo', serif;}
.nanum1{font-weight: lighter;}
.nanum2{font-weight: normal;}
.nanum3{font-weight: bold;}

.design_icon{
	width: 1440px;
	position: relative;
	left: 250px;
	margin-top: 250px;
}

.img_object{
	position: absolute;
	right: 0;
	opacity: .2;
}

.img_object2{
	position: absolute;
	left: 0;
	opacity: .2;
}
.img_object2 img{
	transform: rotate(70deg);
}

.img_object3{
	position: absolute;
	right: 0;
	bottom:0;
	opacity: .2;
}